.about-container {
    position: relative;
    width: 100%;
    height: 800px; /* Set a fixed height for the banner container */
    overflow: hidden;
}

.about-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 20px;
  text-align: center;
}

.about-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.about-container h2 {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    text-align: center;
    margin: 0;
}

.about-container h3 {
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    text-align: center;
    margin: 0;
}

.about-container p {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 90%;
    padding: 20px;
    text-align: center;
    margin: 0;
}


.about-container p:first-of-type {
    top: 48%;
}

.about-container p:last-of-type {
    top: 73%;
}