.about-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.about-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.about-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
}

.about-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 10%;
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 90%;
}

.general-box,
.specific-box,
.faq-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.general-box h2,
.specific-box h3,
.faq-box h3,
.contact-info h4 {
    margin-top: 0;
    color: rgb(35, 122, 215);
    font-size: 20px;
}

.contact-info {
    margin-top: 15%;
    font-size: 16px;
    padding-top: 20px;
    
}
.contact-info p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-info a {
    text-decoration: none;
    color: rgb(51, 157, 37);
}