.services-container {
    display: grid;
    grid-template-areas: 'service1 service1'
                         'service2 service3';
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.service-banner1 {
    background-image: url('/img/commercial-piping-fabrication-installation-services-img.jpg');
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 550px; /* Set a fixed height for the banner container */
    overflow: hidden;
    z-index: 2; /* Ensure the banner container is above other content */
    background-size: cover;
    background-position: center;
}

.service-banner2 {
    background-image: url('/img/image-2024-08-13T135802.460.png');
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 500px; /* Set a fixed height for the banner container */
    overflow: hidden;
    z-index: 2; /* Ensure the banner container is above other content */
    background-size: cover;
    background-position: center;
}

.service-banner3 {
    background-image: url('/img/activite-eie-v2.webp');
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 500px; /* Set a fixed height for the banner container */
    overflow: hidden;
    z-index: 2; /* Ensure the banner container is above other content */
    background-size: cover;
    background-position: center;
}



.service-box1 {
    grid-area: service1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-box2 {
    grid-area: service2;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-box3 {
    grid-area: service3;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}